openapi: 3.1.0
jsonSchemaDialect: https://spec.openapis.org/oas/3.1/dialect/base
info:
  title: Raze Posting API
  version: 0.2.0
  summary: Multi-tenant Meta campaign publishing with tracker-driven guard rules
  description: |
    Raze Posting connects Meta users through official Facebook Login for
    Business, publishes one campaign hierarchy to many ad accounts, collects
    lifetime Insights, merges per-campaign registration/deposit statistics from
    a Keitaro tracker, and pauses campaigns automatically through
    spend-checkpoint guards.

    All workspace endpoints under `/app/api` authenticate with the HttpOnly
    session cookie issued by `/auth/login` or `/auth/register`. Mutating
    requests additionally require the `X-CSRF-Token` header carrying the value
    of the non-HttpOnly `raze_csrf` cookie. Meta access tokens are never
    returned by this API and are encrypted at rest.
  contact:
    email: mike@watchers-factory.com
  license:
    name: Proprietary and confidential
    identifier: LicenseRef-Proprietary
servers:
  - url: https://api.terahash.win
    description: Production
  - url: http://127.0.0.1:8080
    description: Local
tags:
  - name: System
    description: Liveness, readiness, and API-contract endpoints.
  - name: Auth
    description: Operator registration, sign-in, and session logout.
  - name: OAuth
    description: Official Meta OAuth connect flow.
  - name: Workspace
    description: Session-scoped overview, launcher, and account data.
  - name: Campaigns
    description: Published campaigns with insights, tracker stats, and guards.
  - name: Guards
    description: Spend-checkpoint automation replacing free-form rules.
  - name: Batches
    description: Multi-account publishing batches.
  - name: Media
    description: Persistent local image and video uploads.

security: []

paths:
  /healthz:
    get:
      tags: [System]
      summary: Liveness probe
      responses:
        "200":
          description: Process is alive.
  /readyz:
    get:
      tags: [System]
      summary: Readiness probe
      responses:
        "200":
          description: Database is reachable.
        "503":
          description: A dependency is unavailable.
  /openapi.yaml:
    get:
      tags: [System]
      summary: This OpenAPI document
      responses:
        "200":
          description: The API contract in YAML form.

  /auth/register:
    post:
      tags: [Auth]
      summary: Create an operator account and start a session
      requestBody:
        $ref: "#/components/requestBodies/Credentials"
      responses:
        "201":
          description: Account created; session and CSRF cookies are set.
        "400":
          $ref: "#/components/responses/Invalid"
        "409":
          description: Login is already taken.
  /auth/login:
    post:
      tags: [Auth]
      summary: Sign in and start a session
      requestBody:
        $ref: "#/components/requestBodies/Credentials"
      responses:
        "200":
          description: Session and CSRF cookies are set.
        "401":
          description: Invalid login or password.
  /auth/logout:
    post:
      tags: [Auth]
      summary: End the current session
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/CSRF"
      responses:
        "204":
          description: Session removed and cookies cleared.

  /app/connect/meta:
    get:
      tags: [OAuth]
      summary: Redirect the operator's browser into Facebook Login for Business
      security:
        - session: []
      responses:
        "303":
          description: Redirect to Meta's authorization dialog.
  /oauth/facebook/callback:
    get:
      tags: [OAuth]
      summary: Meta redirect target completing a connection
      description: Public because Meta redirects the browser here; protected by
        the short-lived one-time OAuth state bound to the initiating user.
      parameters:
        - name: state
          in: query
          schema: { type: string }
        - name: code
          in: query
          schema: { type: string }
      responses:
        "200":
          description: Connection created; browsers are redirected to /app.
        "400":
          description: Denied, expired, or replayed OAuth state.

  /app/api/overview:
    get:
      tags: [Workspace]
      summary: Dashboard payload
      description: Connections, ad accounts, batches, campaign views, and
        aggregate totals for the signed-in user.
      security:
        - session: []
      responses:
        "200":
          description: Overview snapshot.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user: { $ref: "#/components/schemas/User" }
                  connections:
                    type: array
                    items: { $ref: "#/components/schemas/MetaConnection" }
                  ad_accounts:
                    type: array
                    items: { $ref: "#/components/schemas/AdAccount" }
                  batches:
                    type: array
                    items: { $ref: "#/components/schemas/Batch" }
                  campaigns:
                    type: array
                    items: { $ref: "#/components/schemas/CampaignView" }
                  totals: { $ref: "#/components/schemas/CampaignTotals" }
        "401":
          $ref: "#/components/responses/Unauthorized"
  /app/api/launcher:
    get:
      tags: [Workspace]
      summary: Launcher payload (connections, accounts, Pages, capabilities)
      security:
        - session: []
      responses:
        "200":
          description: Everything the launcher form needs.
        "401":
          $ref: "#/components/responses/Unauthorized"
  /app/api/capabilities:
    get:
      tags: [Workspace]
      summary: Typed campaign vocabulary and guard metric names
      security:
        - session: []
      responses:
        "200":
          description: Capability document.
  /app/api/accounts/{id}/stats:
    get:
      tags: [Workspace]
      summary: One ad account with its campaigns and aggregate totals
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Account, campaign views, and totals.
        "404":
          $ref: "#/components/responses/NotFound"

  /app/api/connections/{id}/sync:
    post:
      tags: [Workspace]
      summary: Queue inventory discovery for one connection
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
        - $ref: "#/components/parameters/CSRF"
      responses:
        "202":
          description: Sync job accepted; poll the batch/connection state.
  /app/api/connections/{id}:
    delete:
      tags: [Workspace]
      summary: Revoke one Meta connection
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
        - $ref: "#/components/parameters/CSRF"
      responses:
        "204":
          description: Connection revoked.

  /app/api/campaigns:
    get:
      tags: [Campaigns]
      summary: Every published campaign with metrics, tracker stats, and guards
      security:
        - session: []
      responses:
        "200":
          description: Campaign views and totals.
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaigns:
                    type: array
                    items: { $ref: "#/components/schemas/CampaignView" }
                  totals: { $ref: "#/components/schemas/CampaignTotals" }
  /app/api/campaigns/{id}/pause:
    post:
      tags: [Campaigns]
      summary: Pause one campaign on Meta
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
        - $ref: "#/components/parameters/CSRF"
      responses:
        "200":
          description: Campaign paused.
  /app/api/campaigns/{id}/resume:
    post:
      tags: [Campaigns]
      summary: Resume one campaign on Meta
      description: Failed guard checks become overridden so the next guard pass
        does not immediately pause the campaign again; later checkpoints still
        apply.
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
        - $ref: "#/components/parameters/CSRF"
      responses:
        "200":
          description: Campaign activated.
  /app/api/campaigns/{id}/guard:
    post:
      tags: [Guards]
      summary: Create a campaign-scoped guard overriding the batch guard
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
        - $ref: "#/components/parameters/CSRF"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GuardUpdate" }
      responses:
        "201":
          description: Guard created for this campaign only.
  /app/api/guards/{id}:
    patch:
      tags: [Guards]
      summary: Edit a live guard's checkpoints, name, status, or interval
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
        - $ref: "#/components/parameters/CSRF"
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GuardUpdate" }
      responses:
        "200":
          description: Updated guard.

  /app/api/batches:
    post:
      tags: [Batches]
      summary: Queue one hierarchy to many ad accounts with optional guard
      description: Accepted means persisted, not published. Every account gets
        its own result row; successful accounts stay published when others
        fail. Objects are created paused and activated bottom-up unless
        `leave_paused` is set.
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/CSRF"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [batch]
              properties:
                batch: { $ref: "#/components/schemas/CreateBatch" }
                checkpoints:
                  type: array
                  items: { $ref: "#/components/schemas/GuardCheckpoint" }
                guard_name: { type: string }
      responses:
        "202":
          description: Batch queued (and guard created when checkpoints given).
  /app/api/batches/{id}:
    get:
      tags: [Batches]
      summary: One batch with its per-account results
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/ID"
      responses:
        "200":
          description: Batch and account results.

  /app/api/media:
    post:
      tags: [Media]
      summary: Upload a local image or video for later publishing
      security:
        - session: []
      parameters:
        - $ref: "#/components/parameters/CSRF"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [kind, file]
              properties:
                connection_id: { type: string, format: uuid }
                ad_account_id: { type: string, format: uuid }
                kind: { type: string, enum: [image, video] }
                file: { type: string, format: binary }
      responses:
        "201":
          description: Stored media record.

components:
  securitySchemes:
    session:
      type: apiKey
      in: cookie
      name: raze_session
      description: HttpOnly session cookie issued by /auth/login.
  parameters:
    ID:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    CSRF:
      name: X-CSRF-Token
      in: header
      required: true
      description: Value of the raze_csrf cookie.
      schema: { type: string }
  requestBodies:
    Credentials:
      required: true
      content:
        application/json:
          schema:
            type: object
            required: [login, password]
            properties:
              login:
                type: string
                pattern: "^[a-z0-9][a-z0-9._-]{2,63}$"
              password:
                type: string
                minLength: 10
                maxLength: 128
  responses:
    Invalid:
      description: Validation failed.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unauthorized:
      description: Session cookie is missing or expired.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource does not exist inside this tenant.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code: { type: string }
            message: { type: string }
            request_id: { type: string }
            details: { type: object }
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        login: { type: string }
        last_login_at: { type: string, format: date-time }
    MetaConnection:
      type: object
      properties:
        id: { type: string, format: uuid }
        user_id: { type: string, format: uuid }
        meta_user_id: { type: string }
        display_name: { type: string }
        status:
          type: string
          enum: [active, expired, revoked, disconnected, error]
        last_synced_at: { type: string, format: date-time }
    AdAccount:
      type: object
      properties:
        id: { type: string, format: uuid }
        connection_id: { type: string, format: uuid }
        meta_ad_account_id: { type: string }
        name: { type: string }
        currency: { type: string }
        account_status: { type: integer }
        is_active: { type: boolean }
        amount_spent_minor: { type: integer }
        balance_minor: { type: integer }
    Batch:
      type: object
      properties:
        id: { type: string, format: uuid }
        connection_id: { type: string, format: uuid }
        name: { type: string }
        status:
          type: string
          enum: [draft, queued, running, partially_succeeded, succeeded, failed, cancelled]
        total_accounts: { type: integer }
        succeeded_accounts: { type: integer }
        failed_accounts: { type: integer }
    CreateBatch:
      type: object
      required: [connection_id, name, ad_account_ids, idempotency_key, hierarchy]
      properties:
        connection_id: { type: string, format: uuid }
        name: { type: string }
        ad_account_ids:
          type: array
          items: { type: string, format: uuid }
        idempotency_key: { type: string }
        hierarchy:
          type: object
          description: Campaign, ad set, creative, and ad specifications.
        tree:
          type: object
          description: Optional multi-branch campaign tree specification.
        account_overrides: { type: object }
        media_bindings:
          type: array
          items:
            type: object
            properties:
              media_id: { type: string, format: uuid }
              target: { type: string }
        validate_only: { type: boolean }
        leave_paused: { type: boolean }
    GuardCheckpoint:
      type: object
      required: [spend]
      description: One rung of the spend ladder. When lifetime spend reaches
        `spend`, every non-zero minimum must be met or the campaign is paused.
        Tracker leads are Keitaro registrations; tracker sales are deposits.
      properties:
        spend: { type: number, exclusiveMinimum: 0 }
        min_clicks: { type: integer, minimum: 0 }
        min_impressions: { type: integer, minimum: 0 }
        min_tracker_clicks: { type: integer, minimum: 0 }
        min_tracker_leads: { type: number, minimum: 0 }
        min_tracker_sales: { type: number, minimum: 0 }
        min_tracker_revenue: { type: number, minimum: 0 }
    Guard:
      type: object
      properties:
        id: { type: string, format: uuid }
        connection_id: { type: string, format: uuid }
        batch_id: { type: string, format: uuid }
        published_object_id: { type: string, format: uuid }
        name: { type: string }
        status: { type: string, enum: [active, disabled] }
        checkpoints:
          type: array
          items: { $ref: "#/components/schemas/GuardCheckpoint" }
        evaluation_interval_seconds: { type: integer }
        next_evaluation_at: { type: string, format: date-time }
        last_evaluated_at: { type: string, format: date-time }
    GuardUpdate:
      type: object
      properties:
        name: { type: string }
        status: { type: string, enum: [active, disabled] }
        checkpoints:
          type: array
          items: { $ref: "#/components/schemas/GuardCheckpoint" }
        evaluation_interval_seconds: { type: integer, minimum: 60 }
    GuardCheck:
      type: object
      properties:
        id: { type: string, format: uuid }
        guard_id: { type: string, format: uuid }
        published_object_id: { type: string, format: uuid }
        checkpoint_index: { type: integer }
        checkpoint_spend: { type: number }
        status: { type: string, enum: [passed, failed, overridden] }
        observed: { type: object }
        thresholds: { $ref: "#/components/schemas/GuardCheckpoint" }
        paused: { type: boolean }
        evaluated_at: { type: string, format: date-time }
    TrackerStat:
      type: object
      description: Latest Keitaro all-time roll-up for one campaign, matched by
        sub_id_7 (campaign id) with a sub_id_3 (campaign name) fallback.
      properties:
        meta_campaign_id: { type: string }
        campaign_name: { type: string }
        clicks: { type: integer }
        unique_clicks: { type: integer }
        leads: { type: number }
        sales: { type: number }
        revenue: { type: number }
        last_synced_at: { type: string, format: date-time }
    CampaignView:
      type: object
      properties:
        campaign:
          type: object
          description: The published campaign object with Meta ids and status.
        insights:
          type: object
          description: Latest lifetime Facebook Insights snapshot.
        tracker: { $ref: "#/components/schemas/TrackerStat" }
        guard: { $ref: "#/components/schemas/Guard" }
        checks:
          type: array
          items: { $ref: "#/components/schemas/GuardCheck" }
    CampaignTotals:
      type: object
      properties:
        campaigns: { type: integer }
        live: { type: integer }
        paused: { type: integer }
        spend: { type: number }
        clicks: { type: integer }
        impressions: { type: integer }
        tracker_clicks: { type: integer }
        tracker_leads: { type: number }
        tracker_sales: { type: number }
        tracker_revenue: { type: number }
